<div class='main-content'>
  <%= form_for(@task, url: tasks_path, html: { class: 'basic' }) do |f| %>

      <div class='title-row'>
        <h1>Add New Task</h1>
        <div class='button'>
          <%= link_to 'Tasks list', tasks_path %>
        </div>
        <% if @task.errors.any? %>
        <div>
          <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
      </div>

      <div class='row field'>
        <label>
          <span>Title</span>
          <%= f.text_field :title %>
        </label>
      </div>

      <div class='row field'>
        <label>
          <span>Description</span>
          <%= f.text_area :description %>
        </label>
      </div>

      <div class='row field'>
        <label>
          <span>Deadline</span>
          <%= f.datetime_select :deadline,  prompt: true, datetime_separator: '- ' %>
        </label>
        <button id="now">Set Now!</button>
      </div>


      <div class='row'>
        <button type="submit">Add it and Do it!</button>
      </div>
  <% end %>
</div>
<script type="text/javascript" charset="utf-8">
  $('#now').click(function(e){
      e.preventDefault();
      var currentDate = new Date;
      $('#task_deadline_1i').val(currentDate.getFullYear());
      $('#task_deadline_2i').val(currentDate.getMonth() + 1);
      $('#task_deadline_3i').val(currentDate.getDate());
      $('#task_deadline_4i').val(currentDate.getHours());
      $('#task_deadline_5i').val(currentDate.getMinutes());
  })
</script>



